{% extends "base.html" %}

{% block conteudo %}

<table class="table">
<tr>
<tr>
<tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Disponível?</th>
    <th>Remover Dispositivo</th>
</tr>
</tr>
</tr>
{% for dispositivo in dispositivos %}
    <tr>
        {% if dispositivo.disponivel != -1 %}
            <td>{{dispositivo.id}}</td>
            <td>{{dispositivo.nome}}</td>
            {% if dispositivo.disponivel == 0 %}
                <td>SIM</td>
            {% elif dispositivo.disponivel == 1 %}
                <td>NÃO</td>
            {% endif %}
            <td><a href="{{url_for('remover_dispositivo',id_dispositivo=dispositivo.id)}}">REMOVER</a></td>
        {% endif %}
    </tr>
{% endfor %}

</table>

{% endblock %}