{% extends "base.html" %}

{% block conteudo %}

<p>
  <a href="{{url_for('cadastrar_dispositivo')}}">CADASTRAR DISPOSITIVO</a>
</p>

<p>
  <a href="{{url_for('listar_dispositivos')}}">LISTAR DISPOSITIVOS</a>
</p>

<p>
  <a href="{{url_for('cadastrar_usuario')}}">CADASTRAR USUÁRIO</a>
</p>

<p>
  <a href="{{url_for('listar_usuarios')}}">LISTAR USUÁRIOS</a>
</p>

<p>
  <a href="{{url_for('alugar_dispositivo')}}">ALUGAR DISPOSITIVO</a>
</p>

<p>
  <a href="{{url_for('listar_locacoes')}}">LISTAR LOCAÇÕES</a>
</p>

{% endblock %}