{% extends "base.html" %}

{% block conteudo %}
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="fpf_image_hero.0.jpg" class="d-block w-100" alt="fpf_image_hero.0.jpg">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="ftnviewcpsfile9-1024x683.jpg" class="d-block w-100" alt="ftnviewcpsfile9-1024x683.jpg">
      </div>
      <div class="carousel-item">
        <img src="43-big-games-coming-in-2017_16fc.h720.jpg" class="d-block w-100" alt="43-big-games-coming-in-2017_16fc.h720.jpg">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endblock %}