{% extends "base.html" %}

{% block conteudo %}

<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="">Nome da Lanhouse</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('alugar_dispositivo')}}">ALUGAR DISPOSITIVO</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Cadastrar
            </a>
            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
              <li><a class="dropdown-item" href="{{url_for('cadastrar_usuario')}}">CADASTRAR USUÁRIO</a></li>
              <li><a class="dropdown-item" href="{{url_for('cadastrar_dispositivo')}}">CADASTRAR DISPOSITIVO</a></li>
        </ul> 
        </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Lista
            </a>
            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
              <li><a class="dropdown-item" href="{{url_for('listar_usuarios')}}">USUÁRIOs</a></li>
              <li><a class="dropdown-item" href="{{url_for('listar_locacoes')}}">LOCAÇÕES</a></li>
              <li><a class="dropdown-item" href="{{url_for('listar_dispositivos')}}">Dispositivos</a></li>
        </ul> 
</nav>

{% endblock %}