{% extends "base.html" %}

{% block conteudo %}

<table class="table table-dark table-striped">

    <tr>
        <th>ID da locação</th>
        <th>Responsável</th>
        <th>Quem alugou o dispositivo</th>
        <th>Dispostivo</th>
        <th>Locação</th>
        <th>Encerramento</th>
        <th>Pago?</th>
        <th>Pagar</th>
        <th>Encerrar Sessão</th>
        <th>Remover</th>
    </tr>
    {% for locacao in locacoes %}
        <tr>
            <td>{{locacao.id}}</td>
            <td>{{locacao.usuario.nome}}</td>
            <td>{{locacao.nome_pessoa}}</td>
            <td>{{locacao.dispositivo.nome}}</td>
            <td>{{locacao.data_locacao.strftime('%d/%m/%Y %H:%M')}}</td>
            {% if locacao.data_encerramento is not none %}
                <td>{{locacao.data_encerramento.strftime('%d/%m/%Y %H:%M')}}</td>
            {% endif %}
            {% if locacao.pago is True %}
                <td>PAGO</td>
            {% endif %}
            <td><a href="{{url_for('devolver_chave',id_emprestimo=emprestimo.id)}}">DEVOLVER</a></td>
            <td><a href="{{url_for('devolver_chave',id_emprestimo=emprestimo.id)}}">DEVOLVER</a></td>
            <td><a href="{{url_for('remover_emprestimo',id_emprestimo=emprestimo.id)}}">REMOVER</a></td>
        </tr>
    {% endfor %}

</table>

{% endblock %}